{% extends 'base.html.twig' %}

{% block body %}

    <h1>Create task list</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}

        <button type="submit" name="create">Create list</button>
    {{ form_end(form) }}

{% endblock %}
